.bonus-sign {
    position: absolute;
    background: $main-text-color;
    opacity: 1;
}

.I4V-sign {
    width: 26%;
    height: 100%;
    margin-left: 37%;
    clip-path: polygon(
        50% 0,
        100% 15%,
        100% 85%,
        50% 100%,
        0 85%,
        0 15%
    );
    animation: I4V-anim 1.5s linear infinite;
}

@keyframes I4V-anim {
    0% {
        margin-top: 0;
        height: 100%;
    }
    50% {
        margin-top: 100%;
        height: 0;
    }
    51% {
        margin-top: 0;
        height: 0;
    }
    100% {
        margin-top: 0;
        height: 100%;
    }
}