.level-menu {
    display: none;
    margin: 15% 1%;
    width: 98%;
    height: 65%;
    background: rgba(0, 0, 0, 0.7);
    clip-path: polygon(
        5% 30%,
        5% 5%,
        10% 5%,
        15% 0,
        85% 0,
        90% 5%,
        95% 5%,
        95% 30%,
        100% 35%,
        100% 65%,
        95% 70%,
        95% 95%,
        90% 95%,
        85% 100%,
        15% 100%,
        10% 95%,
        5% 95%,
        5% 70%,
        0 65%,
        0 35%
       );
}