$panel-bg-color: rgba(19, 8, 22, 0.8);

$level-footer-gradient : linear-gradient(
    top,
    rgba(250, 250, 250, 0.1) 0%, 
    rgba(250, 250, 250, 0.05) 45%,
    rgba(0, 0, 0, 0.05) 55%,
    rgba(0, 0, 0, 0.1) 100%);

$level-arrow-gradient: 
linear-gradient(
    90deg,
    rgba(250, 250, 250, 0.1) 0%, 
    rgba(250, 250, 250, 0.05) 45%,
    rgba(0, 0, 0, 0.05) 55%,
    rgba(0, 0, 0, 0.1) 100%);


.level-menu {
    position: relative;
    display: none;
    margin: 15% 1%;
    width: 98%;
    height: 65%;
    background: $panel-bg-color;
    color: rgba(175, 241, 161, 0.8);
    clip-path: polygon(
        5% 30%,
        5% 5%,
        10% 5%,
        15% 0,
        85% 0,
        90% 5%,
        95% 5%,
        95% 30%,
        100% 35%,
        100% 65%,
        95% 70%,
        95% 95%,
        90% 95%,
        85% 100%,
        15% 100%,
        10% 95%,
        5% 95%,
        5% 70%,
        0 65%,
        0 35%
       );


    .level-menu__page {
        position: absolute;
        top: 8%;
        left: 8%;
        width: 84%;
        height: 84%;
        background: rgba(0, 0, 0, 0.5);

        .level-page {
            height: 100%;
            width: 100%;
            border-collapse: collapse;

            tr td {
                width: 20%;
                height: 20%;
                border: 1px solid rgba(250, 250, 250, 0.2);
                text-align: center;
                color: $main-text-color;
                font-size: 1.4em;
            }
        }

        .level-page:not(.active-page) {
            display: none;
        }
    }

    .level-menu__header__ligths {
        position: absolute;
        top: 1%;
        left: 12%;
        width: 76%;
        height: 4%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        box-shadow: 1px 1px 1px $panel-bg-color;
        background: rgba(0, 0, 0, 0.5);
        clip-path: polygon(
            0 100%,
            5% 0,
            95% 0,
            100% 100%
            );
        }
        
        .level-light {
            position: relative;
            margin: 0.2% 0.7%;
            flex-grow: 1;
            background-color: $panel-bg-color;
            background: $level-footer-gradient;

        &:first-child {
            margin-left: 0.2%;
        }

        &:last-child {
            margin-right: 0.2%;
        }

        .light {
            position: absolute;
            top: 25%;
            left: 40%;
            width: 20%;
            height: 50%;
            background: rgba(175, 241, 161, 0.8);
            opacity: 0.4;
        }
    }

    .level-light--active {
        .light {
            opacity: 1;
        }
    }

    .level-menu__footer {
        position: absolute;
        bottom: 1%;
        left: 12%;
        width: 76%;
        height: 4%;
        background: rgba(0, 0, 0, 0.5);
        clip-path: polygon(
            5% 100%,
            0 0,
            100% 0,
            95% 100%
        );
        text-align: center; 
        vertical-align: middle;
        font-size: bold;
        -webkit-text-stroke: 1px rgba(175, 241, 161, 0.8);
        letter-spacing: -2px;

        .level-menu__footer__text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: $level-footer-gradient;
            line-height: 100%;
            text-align: center; 
            font-size: 90%;
            -webkit-text-stroke: 1px rgba(175, 241, 161, 0.8);
            color: rgba(175, 241, 161, 0.8);
        }
    }
    .level-menu__arrow-left {
        position: absolute;
        top: 32%;
        left: 1%;
        width: 4%;
        height: 36%;
        background: rgba(0, 0, 0, 0.5);
        clip-path: polygon(
            5% 11%,
            100% 0,
            100% 100%,
            5% 89%
        );

        .level-menu__arrow__button-container {
            position: relative;
            width: 100%;
            height: 100%;
            background: $level-arrow-gradient;

            .level-arrow-left {
                position: absolute;
                width: 70%;
                height: 30%;
                top: 35%;
                left: 5%;
                background: rgba(175, 241, 161, 0.8);
                clip-path: polygon(
                    80% 0,
                    100% 0,
                    50% 50%,
                    100% 100%,
                    80% 100%,
                    0 50%
                );
            }
        }
    }

    .level-menu__arrow-right {
        position: absolute;
        top: 32%;
        right: 1%;
        width: 4%;
        height: 36%;
        background: rgba(0, 0, 0, 0.5);
        clip-path: polygon(
            0 0,
            95% 11%,
            95% 89%,
            0% 100%,
        );

        .level-menu__arrow__button-container {
            position: relative;
            width: 100%;
            height: 100%;
            background: $level-arrow-gradient;

            .level-arrow-left {
                position: absolute;
                width: 70%;
                height: 30%;
                top: 35%;
                left: 5%;
                background: rgba(175, 241, 161, 0.8);
                clip-path: polygon(
                    0 0,
                    20% 0,
                    100% 50%,
                    20% 100%,
                    0 100%,
                    50% 50%
                );
            }
        }
    }
}