$shard-anim-time: 0.35s;
$shX1: 10; 
$shY1: 10;
$shX2: 40;
$shY2: 40;
$shX3: 90;
$shY3: 90;


.game-board {
    .shard {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-size: cover;
        z-index: 10;
        opacity: 0;
    }

    .shard1 {
        animation: shard1-anim $shard-anim-time linear;
    }

    .shard2 {
        animation: shard2-anim $shard-anim-time linear;
    }

    .shard3 {
        animation: shard3-anim $shard-anim-time linear;
    }

    .shard4 {
        animation: shard4-anim $shard-anim-time linear;
    }

    .shard5 {
        animation: shard5-anim $shard-anim-time linear;
    }
}

@keyframes shard1-anim {
    0% {
        opacity : 1;
        transform: translateX(0) translateY(0) scale(0) rotate(0);
    }
    20% {
        transform: translateX($shX1+random(5)+0px) translateY(-$shY1+random(4)+0px) scale(2) rotate(4deg);
    }
    40% {
        transform: translateX($shX2+random(9)+0px) translateY(-$shY2+random(8)+0px) scale(1.6) rotate(7deg);
    }
    80% {
        opacity : 1;
    }
    100% {
        opacity : 0;
        transform: translateX($shX3+random(12)+0px) translateY(-$shY3+random(15)+0px) scale(0.3) rotate(50deg);
    }
}

@keyframes shard2-anim {
    0% {
        opacity : 1;
        transform: translateX(0+random(3)+0px) translateY(0+random(5)+0px) scale(0) rotate(0);
    }
    20% {
        transform: translateX($shX1+random(7)+0px) translateY($shY1+random(5)+0px) scale(2) rotate(4deg);
    }
    40% {
        transform: translateX($shX2+random(13)+0px) translateY($shY2+random(10)+0px) scale(1.6) rotate(7deg);
    }
    80% {
        opacity : 1;
    }
    100% {
        opacity : 0;
        transform: translateX($shX3+random(3)+0px) translateY($shY3+random(5)+0px) scale(0.3) rotate(50deg);
    }
}

@keyframes shard3-anim {
    0% {
        opacity : 1;
        transform: translateY(0) scale(0) rotate(0, 0, 0, 0);
    }
    20% {
        transform: translateY($shY1+random(6)+0px) scale(2) rotate(4deg);
    }
    40% {
        transform: translateY($shY2+random(4)+0px) scale(1.6) rotate(7deg);
    }
    80% {
        opacity : 1;
    }
    100% {
        opacity : 0;
        transform: translateY($shY3+random(10)+0px) scale(0.3) rotate(50deg);
    }
}

@keyframes shard4-anim {
    0% {
        opacity : 1;
        transform: translateX(0) translateY(0) scale(0) rotate(0, 0, 0, 0);
    }
    20% {
        transform: translateX(-$shX1+random(4)+0px) translateY($shY1+random(8)+0px) scale(2) rotate(4deg);
    }
    40% {
        transform: translateX(-$shX2+random(6)+0px) translateY($shY2+random(7)+0px) scale(1.6) rotate(7deg);
    }
    80% {
        opacity : 1;
    }
    100% {
        opacity : 0;
        transform: translateX(-$shX3+random(10)+0px) translateY($shY3+random(14)+0px) scale(0.3) rotate(50deg);
    }
}

@keyframes shard5-anim {
    0% {
        opacity : 1;
        transform: translateX(0) translateY(0) scale(0) rotate(0, 0, 0, 0);
    }
    20% {
        transform: translateX(-$shX1+random(5)+0px) translateY(-$shY1+random(7)+0px) scale(3) rotate(4deg);
    }
    40% {
        transform: translateX(-$shX2+random(4)+0px) translateY(-$shY2+random(6)+0px) scale(1.6) rotate(7deg);
    }
    80% {
        opacity : 1;
    }
    100% {
        opacity : 0;
        transform: translateX(-$shX3+random(14)+0px) translateY(-$shY3+random(16)+0px) scale(0.3) rotate(50deg);
    }
}
