@font-face {
  font-family: mario-style-font;
  src: url(../../fonts/SuperMario256.ttf);
}

@font-face {
  font-family: main-game-font;
  src: url(../../fonts/MainGameFont.ttf);
}

body {
  margin: 0;
  padding: 0;
  background: #252525;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  font-family: "main-game-font";
}

.main_container {
  min-width: 320px;
  margin: auto;
  background: #683180;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #dad9a7), color-stop(50%, #f860f0), to(#683180));
  background: linear-gradient(180deg, #dad9a7 1%, #f860f0 50%, #683180 100%);
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

@media (max-width: 481px) {
  .main_container {
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width: 480px) {
  .main_container {
    width: 480px;
    height: 700px;
    margin-top: 2vw;
    border-radius: 10px;
    border: 5px solid #3b1c49;
  }
}

.main_container .main-container__pattern {
  position: relative;
  background-color: #6d695c;
  background: repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.2)), linear-gradient(120deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.2));
  background-size: 70px 120px;
  border-radius: 10px;
}

@media (max-width: 481px) {
  .main_container .main-container__pattern {
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width: 480px) {
  .main_container .main-container__pattern {
    width: 480px;
    height: 700px;
  }
}

header {
  display: none;
  padding-top: 20px;
  font-family: "mario-style-font";
  text-align: center;
  -webkit-text-stroke: 2px #3a3a3a;
  text-shadow: 3px 3px 3px black;
  -webkit-animation: header-in-anim 0.2s ease-in;
          animation: header-in-anim 0.2s ease-in;
}

@media (max-width: 481px) {
  header {
    font-size: 7vw;
  }
}

@media (min-width: 480px) {
  header {
    font-size: 32px;
  }
}

header .header__fruits-txt {
  color: #febc63;
}

header .header__n-txt {
  display: inline-block;
  color: #8bd391;
  -webkit-animation: header-n-txt 2s linear infinite;
          animation: header-n-txt 2s linear infinite;
}

header .header__flowers-txt {
  color: #00ffff;
}

header .header__flowers-txt .header__flowers-txt__o-letter {
  display: inline-block;
  -webkit-animation: o-letter-anim 10s linear infinite;
          animation: o-letter-anim 10s linear infinite;
}

.header--hidden {
  display: none;
}

.header--visible {
  display: block;
}

.header-out {
  -webkit-animation: header-out-anim 0.2s ease-in;
          animation: header-out-anim 0.2s ease-in;
  opacity: 0;
  height: 0vw;
  padding: 1%;
}

.header-in {
  -webkit-animation: header-in-anim 0.2s ease-in;
          animation: header-in-anim 0.2s ease-in;
  opacity: 1;
  padding-top: 20px;
}

@media (max-width: 481px) {
  .header-in {
    font-size: 7vw;
  }
}

@media (min-width: 480px) {
  .header-in {
    font-size: 32px;
  }
}

@-webkit-keyframes header-n-txt {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes header-n-txt {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@-webkit-keyframes o-letter-anim {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    text-shadow: 3px 3px 3px black;
  }
  25% {
    text-shadow: 3px -3px 3px black;
  }
  50% {
    text-shadow: -3px -3px 3px black;
  }
  75% {
    text-shadow: -3px 3px 3px black;
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    text-shadow: 3px 3px 3px black;
  }
}

@keyframes o-letter-anim {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    text-shadow: 3px 3px 3px black;
  }
  25% {
    text-shadow: 3px -3px 3px black;
  }
  50% {
    text-shadow: -3px -3px 3px black;
  }
  75% {
    text-shadow: -3px 3px 3px black;
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    text-shadow: 3px 3px 3px black;
  }
}

@-webkit-keyframes header-in-anim {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes header-in-anim {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes header-out-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  99% {
    opacity: 1;
  }
  100% {
    height: 0vw;
    opacity: 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
}

@keyframes header-out-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  99% {
    opacity: 1;
  }
  100% {
    height: 0vw;
    opacity: 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
}

.logo {
  padding-top: 50%;
  background-clip: text;
  font-family: "mario-style-font";
  -webkit-text-stroke: 5px #3a3a3a;
  text-align: center;
  text-shadow: 7px 7px 7px black;
}

@media (max-width: 481px) {
  .logo {
    font-size: 17vw;
  }
}

@media (min-width: 480px) {
  .logo {
    font-size: 80px;
  }
}

.logo .logo__fruits-txt {
  -webkit-animation: logo-fruittxt-anim 0.5s linear;
          animation: logo-fruittxt-anim 0.5s linear;
  color: #febc63;
}

.logo .logo__n-txt {
  display: inline-block;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-animation: logo-ntxt-anim 3s linear;
          animation: logo-ntxt-anim 3s linear;
  color: #8bd391;
  opacity: 0;
}

.logo .logo__flowers-txt {
  -webkit-animation: logo-flowertxt-anim 1.5s linear;
          animation: logo-flowertxt-anim 1.5s linear;
  color: #00ffff;
}

@-webkit-keyframes logo-fruittxt-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo-fruittxt-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes logo-ntxt-anim {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
  60% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  70% {
    -webkit-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  75% {
    -webkit-transform: rotate(180deg) translateY(0px);
            transform: rotate(180deg) translateY(0px);
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg) translateY(-600px);
            transform: rotate(180deg) translateY(-600px);
    opacity: 0;
  }
}

@keyframes logo-ntxt-anim {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
  60% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  70% {
    -webkit-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  75% {
    -webkit-transform: rotate(180deg) translateY(0px);
            transform: rotate(180deg) translateY(0px);
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg) translateY(-600px);
            transform: rotate(180deg) translateY(-600px);
    opacity: 0;
  }
}

@-webkit-keyframes logo-flowertxt-anim {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo-flowertxt-anim {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.level-menu {
  position: relative;
  display: none;
  margin: 10% 1%;
  width: 98%;
  height: 65%;
  background: rgba(19, 8, 22, 0.8);
  color: #8dee79;
  -webkit-animation: level-menu-in-anim 0.3s ease-in;
          animation: level-menu-in-anim 0.3s ease-in;
  -webkit-clip-path: polygon(5% 30%, 5% 5%, 10% 5%, 15% 0, 85% 0, 90% 5%, 95% 5%, 95% 30%, 100% 35%, 100% 65%, 95% 70%, 95% 95%, 90% 95%, 85% 100%, 15% 100%, 10% 95%, 5% 95%, 5% 70%, 0 65%, 0 35%);
          clip-path: polygon(5% 30%, 5% 5%, 10% 5%, 15% 0, 85% 0, 90% 5%, 95% 5%, 95% 30%, 100% 35%, 100% 65%, 95% 70%, 95% 95%, 90% 95%, 85% 100%, 15% 100%, 10% 95%, 5% 95%, 5% 70%, 0 65%, 0 35%);
}

.level-menu .level-menu__page {
  position: absolute;
  top: 8%;
  left: 8%;
  width: 84%;
  height: 84%;
  background: rgba(0, 0, 0, 0.5);
}

.level-menu .level-menu__page.error--no-level {
  padding: 5%;
  font-size: 3em;
  color: #f80c47;
}

.level-menu .level-menu__page .level-page {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

.level-menu .level-menu__page .level-page tr td {
  width: 20%;
  height: 20%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  text-align: center;
  color: #58e8f3;
  font-size: 1.4rem;
  cursor: pointer;
}

.level-menu .level-menu__page .level-page tr td div {
  position: relative;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.level-menu .level-menu__page .level-page tr td div .level-progressbar {
  position: absolute;
  top: 130%;
  left: 15%;
  width: 70%;
  height: 15%;
  background: rgba(244, 254, 197, 0.226);
}

.level-menu .level-menu__page .level-page:not(.active-page) {
  display: none;
}

.level-menu .level-menu__header__level-indicator {
  position: absolute;
  top: 1%;
  left: 12%;
  width: 76%;
  height: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 1px 1px 1px rgba(19, 8, 22, 0.8);
          box-shadow: 1px 1px 1px rgba(19, 8, 22, 0.8);
  background: rgba(0, 0, 0, 0.5);
  -webkit-clip-path: polygon(0 100%, 5% 0, 95% 0, 100% 100%);
          clip-path: polygon(0 100%, 5% 0, 95% 0, 100% 100%);
}

.level-menu .level-indicator {
  position: relative;
  margin: 0.2% 0.7%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: rgba(19, 8, 22, 0.8);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.1)), color-stop(45%, rgba(250, 250, 250, 0.05)), color-stop(55%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(top, rgba(250, 250, 250, 0.1) 0%, rgba(250, 250, 250, 0.05) 45%, rgba(0, 0, 0, 0.05) 55%, rgba(0, 0, 0, 0.1) 100%);
  cursor: pointer;
}

.level-menu .level-indicator:first-child {
  margin-left: 0.2%;
}

.level-menu .level-indicator:last-child {
  margin-right: 0.2%;
}

.level-menu .level-indicator .level-light {
  position: absolute;
  top: 25%;
  left: 40%;
  width: 20%;
  height: 50%;
  background: #8dee79;
  opacity: 0.2;
}

.level-menu .level-indicator .level-light--active {
  opacity: 1;
}

.level-menu .level-menu__footer {
  position: absolute;
  bottom: 1%;
  left: 12%;
  width: 76%;
  height: 4%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-clip-path: polygon(5% 100%, 0 0, 100% 0, 95% 100%);
          clip-path: polygon(5% 100%, 0 0, 100% 0, 95% 100%);
  text-align: center;
  vertical-align: middle;
  font-size: bold;
  -webkit-text-stroke: 1px #8dee79;
  letter-spacing: -2px;
}

.level-menu .level-menu__footer .level-menu__footer__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.1)), color-stop(45%, rgba(250, 250, 250, 0.05)), color-stop(55%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(top, rgba(250, 250, 250, 0.1) 0%, rgba(250, 250, 250, 0.05) 45%, rgba(0, 0, 0, 0.05) 55%, rgba(0, 0, 0, 0.1) 100%);
  line-height: 100%;
  text-align: center;
  font-size: 90%;
  -webkit-text-stroke: 1px #8dee79;
  color: #8dee79;
}

.level-menu .level-menu__arrow-left {
  position: absolute;
  top: 32%;
  left: 1%;
  width: 4%;
  height: 36%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-clip-path: polygon(5% 11%, 100% 0, 100% 100%, 5% 89%);
          clip-path: polygon(5% 11%, 100% 0, 100% 100%, 5% 89%);
}

.level-menu .level-menu__arrow-left .level-menu__arrow__button-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(250, 250, 250, 0.1)), color-stop(45%, rgba(250, 250, 250, 0.05)), color-stop(55%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(90deg, rgba(250, 250, 250, 0.1) 0%, rgba(250, 250, 250, 0.05) 45%, rgba(0, 0, 0, 0.05) 55%, rgba(0, 0, 0, 0.1) 100%);
}

.level-menu .level-menu__arrow-left .level-menu__arrow__button-container .level-arrow-left {
  position: absolute;
  width: 70%;
  height: 30%;
  top: 35%;
  left: 5%;
  background: rgba(141, 238, 121, 0.2);
  -webkit-clip-path: polygon(80% 0, 100% 0, 50% 50%, 100% 100%, 80% 100%, 0 50%);
          clip-path: polygon(80% 0, 100% 0, 50% 50%, 100% 100%, 80% 100%, 0 50%);
}

.level-menu .level-menu__arrow-left .level-menu__arrow__button-container .level-arrow-left--active {
  background: #8dee79;
}

.level-menu .level-menu__arrow-right {
  position: absolute;
  top: 32%;
  right: 1%;
  width: 4%;
  height: 36%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-clip-path: polygon(0 0, 95% 11%, 95% 89%, 0% 100%);
          clip-path: polygon(0 0, 95% 11%, 95% 89%, 0% 100%);
}

.level-menu .level-menu__arrow-right .level-menu__arrow__button-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(250, 250, 250, 0.1)), color-stop(45%, rgba(250, 250, 250, 0.05)), color-stop(55%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(90deg, rgba(250, 250, 250, 0.1) 0%, rgba(250, 250, 250, 0.05) 45%, rgba(0, 0, 0, 0.05) 55%, rgba(0, 0, 0, 0.1) 100%);
}

.level-menu .level-menu__arrow-right .level-menu__arrow__button-container .level-arrow-right {
  position: absolute;
  width: 70%;
  height: 30%;
  top: 35%;
  left: 5%;
  background: rgba(141, 238, 121, 0.2);
  -webkit-clip-path: polygon(0 0, 20% 0, 100% 50%, 20% 100%, 0 100%, 50% 50%);
          clip-path: polygon(0 0, 20% 0, 100% 50%, 20% 100%, 0 100%, 50% 50%);
}

.level-menu .level-menu__arrow-right .level-menu__arrow__button-container .level-arrow-right--active {
  background: #8dee79;
}

@-webkit-keyframes level-menu-in-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes level-menu-in-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu {
  position: absolute;
  display: none;
  width: 100%;
  height: 12%;
  height: 20px;
  left: 0;
  bottom: 0;
  background: rgba(19, 8, 22, 0.8);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-clip-path: polygon(0 20px, 5% 0, 95% 0, 100% 20px, 100% 100%, 0 100%);
          clip-path: polygon(0 20px, 5% 0, 95% 0, 100% 20px, 100% 100%, 0 100%);
}

.menu .menu__open-close-btn-box {
  width: 98.5%;
  height: 18px;
  margin: 3px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-clip-path: polygon(0 18px, 5% 0, 95% 0, 100% 18px, 100% 100%, 0 100%);
          clip-path: polygon(0 18px, 5% 0, 95% 0, 100% 18px, 100% 100%, 0 100%);
  cursor: pointer;
}

.menu .menu__open-close-btn-box .menu__open-close-btn {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.1)), color-stop(45%, rgba(250, 250, 250, 0.05)), color-stop(55%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(top, rgba(250, 250, 250, 0.1) 0%, rgba(250, 250, 250, 0.05) 45%, rgba(0, 0, 0, 0.05) 55%, rgba(0, 0, 0, 0.1) 100%);
}

.menu .menu__open-close-btn-box .menu__open-close-btn .menu__open-close-arrow {
  width: 100%;
  height: 100%;
  background: #8dee79;
  -webkit-clip-path: polygon(43% 70%, 50% 10%, 57% 70%, 57% 90%, 50% 50%, 43% 90%);
          clip-path: polygon(43% 70%, 50% 10%, 57% 70%, 57% 90%, 50% 50%, 43% 90%);
}

.menu-box {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  list-style: none;
  background: rgba(0, 0, 0, 0.5);
  color: #58e8f3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu-box .menu-btn {
  width: 100%;
  height: 100%;
  border-left: 2px solid rgba(250, 250, 250, 0.2);
  cursor: pointer;
}

.menu-box .menu-btn:first-child {
  border: none;
}

.menu-box .menu-btn:first-child div {
  border-bottom-left-radius: 5px;
}

.menu-box .menu-btn:last-child div {
  border-bottom-right-radius: 5px;
}

.menu-box .menu-btn div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-shadow: -2px -2px black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.1)), color-stop(45%, rgba(250, 250, 250, 0.05)), color-stop(55%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(top, rgba(250, 250, 250, 0.1) 0%, rgba(250, 250, 250, 0.05) 45%, rgba(0, 0, 0, 0.05) 55%, rgba(0, 0, 0, 0.1) 100%);
}

@media (max-width: 481px) {
  .menu-box .menu-btn div {
    font-size: 1.5em;
  }
}

@media (min-width: 480px) {
  .menu-box .menu-btn div {
    font-size: 2.8em;
  }
}

.game-board {
  position: relative;
  display: none;
  margin: -1% 1%;
  width: 98%;
  height: 95%;
  background: rgba(19, 8, 22, 0.8);
  text-shadow: -2px -2px black;
  -webkit-clip-path: polygon(0 5%, 5% 0, 48% 0, 50% 1%, 52% 0, 95% 0, 100% 5%, 100% 30%, 98% 35%, 98% 65%, 100% 70%, 100% 95%, 95% 100%, 5% 100%, 0 95%, 0 70%, 2% 65%, 2% 35%, 0 30%);
          clip-path: polygon(0 5%, 5% 0, 48% 0, 50% 1%, 52% 0, 95% 0, 100% 5%, 100% 30%, 98% 35%, 98% 65%, 100% 70%, 100% 95%, 95% 100%, 5% 100%, 0 95%, 0 70%, 2% 65%, 2% 35%, 0 30%);
}

.game-board .game-board__dark-layer-top {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 7%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-clip-path: polygon(1% 70%, 5.5% 10%, 48% 10%, 50% 20%, 52% 10%, 94.5% 10%, 99% 70%, 99% 100%, 1% 100%);
          clip-path: polygon(1% 70%, 5.5% 10%, 48% 10%, 50% 20%, 52% 10%, 94.5% 10%, 99% 70%, 99% 100%, 1% 100%);
}

.game-board .game-board__dark-layer-top .game-board__level-points, .game-board .game-board__dark-layer-top .game-board__total-points {
  width: 50%;
  height: 100%;
  padding-top: 2%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.1)), color-stop(45%, rgba(250, 250, 250, 0.05)), color-stop(55%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(top, rgba(250, 250, 250, 0.1) 0%, rgba(250, 250, 250, 0.05) 45%, rgba(0, 0, 0, 0.05) 55%, rgba(0, 0, 0, 0.1) 100%);
  color: #58e8f3;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 481px) {
  .game-board .game-board__dark-layer-top .game-board__level-points, .game-board .game-board__dark-layer-top .game-board__total-points {
    font-size: 3.5vh;
  }
}

@media (min-width: 480px) {
  .game-board .game-board__dark-layer-top .game-board__level-points, .game-board .game-board__dark-layer-top .game-board__total-points {
    font-size: 1.4em;
  }
}

.game-board .game-board__dark-layer-left {
  position: absolute;
  top: 6.9%;
  left: 0;
  width: 5%;
  height: 88.1%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 20% 72%, 60% 67%, 60% 31%, 20% 25%);
          clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 20% 72%, 60% 67%, 60% 31%, 20% 25%);
}

.game-board .game-board__dark-layer-left .game-board__dark-layer-left__inner {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(250, 250, 250, 0.1)), color-stop(45%, rgba(250, 250, 250, 0.05)), color-stop(55%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(90deg, rgba(250, 250, 250, 0.1) 0%, rgba(250, 250, 250, 0.05) 45%, rgba(0, 0, 0, 0.05) 55%, rgba(0, 0, 0, 0.1) 100%);
}

.game-board .game-board__dark-layer-right {
  position: absolute;
  top: 6.9%;
  right: 0;
  width: 5%;
  height: 88%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-clip-path: polygon(0 0, 80% 0, 80% 27%, 44% 31%, 44% 67%, 80% 72%, 80% 100%, 0% 100%);
          clip-path: polygon(0 0, 80% 0, 80% 27%, 44% 31%, 44% 67%, 80% 72%, 80% 100%, 0% 100%);
}

.game-board .game-board__dark-layer-right .game-board__dark-layer-right__inner {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(250, 250, 250, 0.1)), color-stop(45%, rgba(250, 250, 250, 0.05)), color-stop(55%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(90deg, rgba(250, 250, 250, 0.1) 0%, rgba(250, 250, 250, 0.05) 45%, rgba(0, 0, 0, 0.05) 55%, rgba(0, 0, 0, 0.1) 100%);
}

.game-board .game-board__dark-layer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-clip-path: polygon(1% 0, 99% 0, 94.5% 85%, 5.5% 85%);
          clip-path: polygon(1% 0, 99% 0, 94.5% 85%, 5.5% 85%);
}

.game-board .game-board__dark-layer-bottom__inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.1)), color-stop(45%, rgba(250, 250, 250, 0.05)), color-stop(55%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(top, rgba(250, 250, 250, 0.1) 0%, rgba(250, 250, 250, 0.05) 45%, rgba(0, 0, 0, 0.05) 55%, rgba(0, 0, 0, 0.1) 100%);
}

.game-board .game-board__table {
  position: absolute;
  top: 7%;
  left: 5%;
  width: 90%;
  height: 78%;
  background: rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}

.game-board .game-board__table tr:nth-child(even) td:nth-child(odd) {
  background: rgba(250, 250, 250, 0.05);
}

.game-board .game-board__table tr:nth-child(even) td:nth-child(even) {
  background: rgba(0, 0, 0, 0.3);
}

.game-board .game-board__table tr:nth-child(odd) td:nth-child(even) {
  background: rgba(250, 250, 250, 0.05);
}

.game-board .game-board__table tr:nth-child(odd) td:nth-child(odd) {
  background: rgba(0, 0, 0, 0.3);
}

.game-board .game-board__table .game-board__cell-box {
  position: relative;
}

.game-board .game-board__table .game-board__cell-box .game-board__cell-pic {
  position: absolute;
  top: 12%;
  left: 12%;
  width: 76%;
  height: 76%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.game-board .game-board__table .game-board__cell-box .wall-size {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.game-board .game-board__table .game-board__cell-box .spin-pic {
  -webkit-animation: spin-cell 15s linear infinite;
          animation: spin-cell 15s linear infinite;
}

.game-board .game-board__table .game-board__cell-box .flower-disappear {
  -webkit-animation: flower-disappear-anim 0.3s linear;
          animation: flower-disappear-anim 0.3s linear;
}

.game-board .game-board__table .game-board__cell-box .explosion {
  background-color: transparent;
  -webkit-animation: explosion-anim 0.3s ease-out;
          animation: explosion-anim 0.3s ease-out;
}

@-webkit-keyframes spin-cell {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin-cell {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes flower-disappear-anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #94f7fc;
  }
  10% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  80% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes flower-disappear-anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #94f7fc;
  }
  10% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  80% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes explosion-anim {
  0% {
    background-color: #ff203e98;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    background-color: #ff203c;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes explosion-anim {
  0% {
    background-color: #ff203e98;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    background-color: #ff203c;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.hint-horizontal-left {
  -webkit-animation: anim-hint-left 0.5s 3 ease-out;
          animation: anim-hint-left 0.5s 3 ease-out;
}

@-webkit-keyframes anim-hint-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes anim-hint-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.hint-horizontal-right {
  -webkit-animation: anim-hint-right 0.5s 3 ease-out;
          animation: anim-hint-right 0.5s 3 ease-out;
}

@-webkit-keyframes anim-hint-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes anim-hint-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.hint-vertical-upper {
  -webkit-animation: anim-hint-upper 0.5s 3 ease-out;
          animation: anim-hint-upper 0.5s 3 ease-out;
}

@-webkit-keyframes anim-hint-upper {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes anim-hint-upper {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hint-vertical-lower {
  -webkit-animation: anim-hint-lower 0.5s 3 ease-out;
          animation: anim-hint-lower 0.5s 3 ease-out;
}

@-webkit-keyframes anim-hint-lower {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes anim-hint-lower {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.game-board__inventory {
  position: absolute;
  width: 90%;
  height: 10%;
  top: 85%;
  left: 5%;
  background: rgba(0, 0, 0, 0.7);
}

.game-board__inventory .game-board__inventory__inner {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.1)), color-stop(45%, rgba(250, 250, 250, 0.05)), color-stop(55%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(top, rgba(250, 250, 250, 0.1) 0%, rgba(250, 250, 250, 0.05) 45%, rgba(0, 0, 0, 0.05) 55%, rgba(0, 0, 0, 0.1) 100%);
}

.game-board__inventory__menu {
  position: absolute;
  width: 70%;
  height: 60%;
  top: 20%;
  left: 15%;
  background: rgba(19, 8, 22, 0.8);
}

.game-board__inventory__menu .game-board__inventory__menu__arrow--left-box, .game-board__inventory__menu .game-board__inventory__menu__arrow--right-box {
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
}

.game-board__inventory__menu .game-board__inventory__menu__arrow--left-box {
  left: 0;
}

.game-board__inventory__menu .game-board__inventory__menu__arrow--right-box {
  right: 0;
}

.game-board__inventory__menu .inventory-items {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  list-style: none;
}

.game-board__inventory__menu .inventory-items .inventory-item {
  width: 20%;
  height: 100%;
  margin: 0;
}

.game-board__inventory__menu__arrow--left {
  width: 100%;
  height: 100%;
  background: #8dee79;
  -webkit-clip-path: polygon(30% 50%, 70% 10%, 80% 10%, 55% 50%, 80% 90%, 70% 90%);
          clip-path: polygon(30% 50%, 70% 10%, 80% 10%, 55% 50%, 80% 90%, 70% 90%);
}

.game-board__inventory__menu__arrow--right {
  width: 100%;
  height: 100%;
  background: #8dee79;
  -webkit-clip-path: polygon(70% 50%, 30% 10%, 20% 10%, 45% 50%, 20% 90%, 30% 90%);
          clip-path: polygon(70% 50%, 30% 10%, 20% 10%, 45% 50%, 20% 90%, 30% 90%);
}

#flower-counter-icon, #shop-icon {
  position: absolute;
  width: 8%;
  height: 50%;
  top: 25%;
  background: transparent;
  background-size: 100% 100%;
}

#flower-counter-icon {
  left: 3%;
  background-image: url("../../images/icons/flower-icon.png");
}

#shop-icon {
  right: 3%;
  background-image: url("../../images/icons/shop-icon.png");
}

.game-board .shard {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: cover;
  z-index: 10;
  opacity: 0;
}

.game-board .shard1 {
  -webkit-animation: shard1-anim 0.35s linear;
          animation: shard1-anim 0.35s linear;
}

.game-board .shard2 {
  -webkit-animation: shard2-anim 0.35s linear;
          animation: shard2-anim 0.35s linear;
}

.game-board .shard3 {
  -webkit-animation: shard3-anim 0.35s linear;
          animation: shard3-anim 0.35s linear;
}

.game-board .shard4 {
  -webkit-animation: shard4-anim 0.35s linear;
          animation: shard4-anim 0.35s linear;
}

.game-board .shard5 {
  -webkit-animation: shard5-anim 0.35s linear;
          animation: shard5-anim 0.35s linear;
}

@-webkit-keyframes shard1-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0) scale(0) rotate(0);
            transform: translateX(0) translateY(0) scale(0) rotate(0);
  }
  20% {
    -webkit-transform: translateX(14px) translateY(-7px) scale(1.5) rotate(4deg);
            transform: translateX(14px) translateY(-7px) scale(1.5) rotate(4deg);
  }
  60% {
    -webkit-transform: translateX(41px) translateY(-32px) scale(1.2) rotate(7deg);
            transform: translateX(41px) translateY(-32px) scale(1.2) rotate(7deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(94px) translateY(-82px) scale(0.3) rotate(50deg);
            transform: translateX(94px) translateY(-82px) scale(0.3) rotate(50deg);
  }
}

@keyframes shard1-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0) scale(0) rotate(0);
            transform: translateX(0) translateY(0) scale(0) rotate(0);
  }
  20% {
    -webkit-transform: translateX(14px) translateY(-7px) scale(1.5) rotate(4deg);
            transform: translateX(14px) translateY(-7px) scale(1.5) rotate(4deg);
  }
  60% {
    -webkit-transform: translateX(41px) translateY(-32px) scale(1.2) rotate(7deg);
            transform: translateX(41px) translateY(-32px) scale(1.2) rotate(7deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(94px) translateY(-82px) scale(0.3) rotate(50deg);
            transform: translateX(94px) translateY(-82px) scale(0.3) rotate(50deg);
  }
}

@-webkit-keyframes shard2-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateX(3px) translateY(5px) scale(0) rotate(0);
            transform: translateX(3px) translateY(5px) scale(0) rotate(0);
  }
  10% {
    -webkit-transform: translateX(12px) translateY(15px) scale(1.5) rotate(4deg);
            transform: translateX(12px) translateY(15px) scale(1.5) rotate(4deg);
  }
  50% {
    -webkit-transform: translateX(45px) translateY(46px) scale(1.2) rotate(7deg);
            transform: translateX(45px) translateY(46px) scale(1.2) rotate(7deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(91px) translateY(91px) scale(0.3) rotate(50deg);
            transform: translateX(91px) translateY(91px) scale(0.3) rotate(50deg);
  }
}

@keyframes shard2-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateX(3px) translateY(5px) scale(0) rotate(0);
            transform: translateX(3px) translateY(5px) scale(0) rotate(0);
  }
  10% {
    -webkit-transform: translateX(12px) translateY(15px) scale(1.5) rotate(4deg);
            transform: translateX(12px) translateY(15px) scale(1.5) rotate(4deg);
  }
  50% {
    -webkit-transform: translateX(45px) translateY(46px) scale(1.2) rotate(7deg);
            transform: translateX(45px) translateY(46px) scale(1.2) rotate(7deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(91px) translateY(91px) scale(0.3) rotate(50deg);
            transform: translateX(91px) translateY(91px) scale(0.3) rotate(50deg);
  }
}

@-webkit-keyframes shard3-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(0) rotate(0, 0, 0, 0);
            transform: translateY(0) scale(0) rotate(0, 0, 0, 0);
  }
  15% {
    -webkit-transform: translateY(14px) scale(1.5) rotate(4deg);
            transform: translateY(14px) scale(1.5) rotate(4deg);
  }
  40% {
    -webkit-transform: translateY(42px) scale(1.2) rotate(7deg);
            transform: translateY(42px) scale(1.2) rotate(7deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(99px) scale(0.3) rotate(50deg);
            transform: translateY(99px) scale(0.3) rotate(50deg);
  }
}

@keyframes shard3-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(0) rotate(0, 0, 0, 0);
            transform: translateY(0) scale(0) rotate(0, 0, 0, 0);
  }
  15% {
    -webkit-transform: translateY(14px) scale(1.5) rotate(4deg);
            transform: translateY(14px) scale(1.5) rotate(4deg);
  }
  40% {
    -webkit-transform: translateY(42px) scale(1.2) rotate(7deg);
            transform: translateY(42px) scale(1.2) rotate(7deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(99px) scale(0.3) rotate(50deg);
            transform: translateY(99px) scale(0.3) rotate(50deg);
  }
}

@-webkit-keyframes shard4-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0) scale(0) rotate(0, 0, 0, 0);
            transform: translateX(0) translateY(0) scale(0) rotate(0, 0, 0, 0);
  }
  20% {
    -webkit-transform: translateX(-8px) translateY(16px) scale(1.5) rotate(4deg);
            transform: translateX(-8px) translateY(16px) scale(1.5) rotate(4deg);
  }
  40% {
    -webkit-transform: translateX(-38px) translateY(41px) scale(1.2) rotate(7deg);
            transform: translateX(-38px) translateY(41px) scale(1.2) rotate(7deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-89px) translateY(97px) scale(0.3) rotate(50deg);
            transform: translateX(-89px) translateY(97px) scale(0.3) rotate(50deg);
  }
}

@keyframes shard4-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0) scale(0) rotate(0, 0, 0, 0);
            transform: translateX(0) translateY(0) scale(0) rotate(0, 0, 0, 0);
  }
  20% {
    -webkit-transform: translateX(-8px) translateY(16px) scale(1.5) rotate(4deg);
            transform: translateX(-8px) translateY(16px) scale(1.5) rotate(4deg);
  }
  40% {
    -webkit-transform: translateX(-38px) translateY(41px) scale(1.2) rotate(7deg);
            transform: translateX(-38px) translateY(41px) scale(1.2) rotate(7deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-89px) translateY(97px) scale(0.3) rotate(50deg);
            transform: translateX(-89px) translateY(97px) scale(0.3) rotate(50deg);
  }
}

@-webkit-keyframes shard5-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0) scale(0) rotate(0, 0, 0, 0);
            transform: translateX(0) translateY(0) scale(0) rotate(0, 0, 0, 0);
  }
  10% {
    -webkit-transform: translateX(-6px) translateY(-4px) scale(1.5) rotate(4deg);
            transform: translateX(-6px) translateY(-4px) scale(1.5) rotate(4deg);
  }
  60% {
    -webkit-transform: translateX(-39px) translateY(-38px) scale(1.2) rotate(7deg);
            transform: translateX(-39px) translateY(-38px) scale(1.2) rotate(7deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-87px) translateY(-88px) scale(0.3) rotate(50deg);
            transform: translateX(-87px) translateY(-88px) scale(0.3) rotate(50deg);
  }
}

@keyframes shard5-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0) scale(0) rotate(0, 0, 0, 0);
            transform: translateX(0) translateY(0) scale(0) rotate(0, 0, 0, 0);
  }
  10% {
    -webkit-transform: translateX(-6px) translateY(-4px) scale(1.5) rotate(4deg);
            transform: translateX(-6px) translateY(-4px) scale(1.5) rotate(4deg);
  }
  60% {
    -webkit-transform: translateX(-39px) translateY(-38px) scale(1.2) rotate(7deg);
            transform: translateX(-39px) translateY(-38px) scale(1.2) rotate(7deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-87px) translateY(-88px) scale(0.3) rotate(50deg);
            transform: translateX(-87px) translateY(-88px) scale(0.3) rotate(50deg);
  }
}

.bonus-sign {
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.bonus-sign .bonus-vertical-line {
  position: absolute;
  width: 26%;
  height: 100%;
  margin-left: 37%;
  background: #58e8f3;
  -webkit-clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
          clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
  -webkit-animation: bonus-vertical-line-anim 1s ease-in-out infinite;
          animation: bonus-vertical-line-anim 1s ease-in-out infinite;
}

.bonus-sign .bonus-horizontal-line {
  position: absolute;
  width: 100%;
  height: 26%;
  margin-top: 37%;
  background: #58e8f3;
  -webkit-clip-path: polygon(0 50%, 20% 0, 80% 0, 100% 50%, 80% 100%, 20% 100%);
          clip-path: polygon(0 50%, 20% 0, 80% 0, 100% 50%, 80% 100%, 20% 100%);
  -webkit-animation: bonus-horizontal-line-anim 1s ease-in-out infinite;
          animation: bonus-horizontal-line-anim 1s ease-in-out infinite;
}

.bonus-sign .bonus-diagonal1-line {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #58e8f3;
  -webkit-clip-path: polygon(0 0, 15% 0, 100% 85%, 100% 100%, 85% 100%, 0 15%);
          clip-path: polygon(0 0, 15% 0, 100% 85%, 100% 100%, 85% 100%, 0 15%);
  -webkit-animation: bonus-diagonal-line-anim 1s ease-in-out infinite;
          animation: bonus-diagonal-line-anim 1s ease-in-out infinite;
}

.bonus-sign .bonus-diagonal2-line {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #58e8f3;
  -webkit-clip-path: polygon(100% 0, 100% 15%, 15% 100%, 0 100%, 0 85%, 85% 0);
          clip-path: polygon(100% 0, 100% 15%, 15% 100%, 0 100%, 0 85%, 85% 0);
  -webkit-animation: bonus-diagonal-line-anim 1s ease-in-out infinite;
          animation: bonus-diagonal-line-anim 1s ease-in-out infinite;
}

.bonus-sign .bonus-square {
  position: absolute;
  margin: -4px -4px;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border: 4px solid #58e8f3;
  background: transparent;
  -webkit-animation: bonus-square-anim 1s ease-in-out infinite;
          animation: bonus-square-anim 1s ease-in-out infinite;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@-webkit-keyframes bonus-vertical-line-anim {
  0% {
    margin-top: 0;
    height: 100%;
  }
  50% {
    margin-top: 100%;
    height: 0;
    background: white;
    opacity: 0.7;
  }
  51% {
    margin-top: 0;
    height: 0;
    background: white;
    opacity: 0.7;
  }
  100% {
    margin-top: 0;
    height: 100%;
  }
}

@keyframes bonus-vertical-line-anim {
  0% {
    margin-top: 0;
    height: 100%;
  }
  50% {
    margin-top: 100%;
    height: 0;
    background: white;
    opacity: 0.7;
  }
  51% {
    margin-top: 0;
    height: 0;
    background: white;
    opacity: 0.7;
  }
  100% {
    margin-top: 0;
    height: 100%;
  }
}

@-webkit-keyframes bonus-horizontal-line-anim {
  0% {
    margin-left: 0;
    width: 100%;
  }
  50% {
    margin-left: 100%;
    width: 0;
    background: white;
    opacity: 0.7;
  }
  51% {
    margin-left: 0;
    width: 0;
    background: white;
    opacity: 0.7;
  }
  100% {
    margin-left: 0;
    width: 100%;
  }
}

@keyframes bonus-horizontal-line-anim {
  0% {
    margin-left: 0;
    width: 100%;
  }
  50% {
    margin-left: 100%;
    width: 0;
    background: white;
    opacity: 0.7;
  }
  51% {
    margin-left: 0;
    width: 0;
    background: white;
    opacity: 0.7;
  }
  100% {
    margin-left: 0;
    width: 100%;
  }
}

@-webkit-keyframes bonus-diagonal-line-anim {
  0% {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  50% {
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    background: white;
    opacity: 0.7;
  }
  100% {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

@keyframes bonus-diagonal-line-anim {
  0% {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  50% {
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    background: white;
    opacity: 0.7;
  }
  100% {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

@-webkit-keyframes bonus-square-anim {
  0% {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    opacity: 1;
    border-color: #58e8f3;
  }
  50% {
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
    border-color: white;
    opacity: 0.7;
  }
  100% {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-color: #58e8f3;
    opacity: 1;
  }
}

@keyframes bonus-square-anim {
  0% {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    opacity: 1;
    border-color: #58e8f3;
  }
  50% {
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
    border-color: white;
    opacity: 0.7;
  }
  100% {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-color: #58e8f3;
    opacity: 1;
  }
}

.board__message {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 60%;
  -webkit-clip-path: polygon(0 5%, 5% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%);
          clip-path: polygon(0 5%, 5% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%);
  background: rgba(19, 8, 22, 0.97);
  color: #58e8f3;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 40px;
}

#five-sec {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  font-size: 0;
  font-family: "mario-style-font";
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #820082;
  text-align: center;
  text-shadow: 4px 4px 4px black;
  color: #ff7bff;
  -webkit-animation: anim-fivesec 0.6s linear;
          animation: anim-fivesec 0.6s linear;
}

#points-on-turn {
  position: absolute;
  width: 15%;
  height: 7%;
  top: 0;
  left: 0;
  text-align: center;
  color: #febc63;
  font-size: 5.5vh;
  font-family: "mario-style-font";
  text-shadow: 4px 4px 4px black;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #3a3a3a;
  -webkit-animation: anim-turn-point 0.75s linear;
          animation: anim-turn-point 0.75s linear;
}

#time-is-up {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 30%;
  left: 0;
  text-align: center;
  color: #febc63;
  font-size: 7vh;
  font-family: "mario-style-font";
  text-shadow: 10px 10px 10px black;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #3a3a3a;
}

@-webkit-keyframes anim-fivesec {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}

@keyframes anim-fivesec {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}

@-webkit-keyframes anim-turn-point {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1.2) rotate(35deg);
            transform: translateY(0px) scale(1.2) rotate(35deg);
  }
  50% {
    -webkit-transform: translateY(-8vh) scale(0.9) rotate(-20deg);
            transform: translateY(-8vh) scale(0.9) rotate(-20deg);
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
    -webkit-transform: translateY(-26vh) scale(0.6) rotate(50deg);
            transform: translateY(-26vh) scale(0.6) rotate(50deg);
  }
}

@keyframes anim-turn-point {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1.2) rotate(35deg);
            transform: translateY(0px) scale(1.2) rotate(35deg);
  }
  50% {
    -webkit-transform: translateY(-8vh) scale(0.9) rotate(-20deg);
            transform: translateY(-8vh) scale(0.9) rotate(-20deg);
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
    -webkit-transform: translateY(-26vh) scale(0.6) rotate(50deg);
            transform: translateY(-26vh) scale(0.6) rotate(50deg);
  }
}

.countback {
  position: relative;
  left: 5%;
  top: 40%;
  width: 90%;
  height: 20%;
}

.countback__left {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
}

.countback__left .countback-led {
  width: 19%;
  height: 100%;
  margin-right: 2%;
  border: black solid 1px;
}

.countback__left .countback-led:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.countback__right {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  height: 100%;
  right: 0;
  top: 0;
}

.countback__right .countback-led {
  width: 19%;
  height: 100%;
  margin-left: 2%;
  border: black solid 1px;
}

.countback__right .countback-led:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#counter {
  position: absolute;
  width: 20%;
  height: 100%;
  top: 0;
  left: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3.3vh;
  text-align: center;
  color: #58e8f3;
}

#countback-led10:not(.led-off) {
  background: #58E8F3;
}

#countback-led9:not(.led-off) {
  background: #42EED0;
}

#countback-led8:not(.led-off) {
  background: #2CF4AD;
}

#countback-led7:not(.led-off) {
  background: #16F989;
}

#countback-led6:not(.led-off) {
  background: #00FF66;
}

#countback-led5:not(.led-off) {
  background: #FFCC66;
}

#countback-led4:not(.led-off) {
  background: #FFB380;
}

#countback-led3:not(.led-off) {
  background: #FF9999;
}

#countback-led2:not(.led-off) {
  background: #FF80B3;
}

#countback-led1:not(.led-off) {
  background: #FF66CC;
}

.led-off {
  background: rgba(250, 250, 250, 0.15);
}

.end-of-level-stat {
  display: none;
  position: absolute;
  top: 8%;
  left: 8%;
  width: 84%;
  height: 84%;
  background: rgba(19, 8, 22, 0.9);
  color: #58e8f3;
  text-align: center;
  font-size: 3vh;
}

.level-stat-table {
  width: 100%;
  height: 100%;
}

.level-stat-table #level-stat__total-points, .level-stat-table #level-stat__level-points {
  font-size: 5.5vh;
}

.level-stat-table tr td button {
  width: 50%;
  color: #58e8f3;
  font-size: 4vh;
  font-family: "main-game-font";
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #58e8f3;
}

.level-stat-table tr td button:hover {
  cursor: pointer;
}
/*# sourceMappingURL=fruits_n_flowers.css.map */