@font-face {
  font-family: mario-style-font;
  src: url(../../fonts/SuperMario256.ttf);
}

body {
  background: #252525;
  margin: 0;
  padding: 0;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  font-family: "mario-style-font";
}

.main_container {
  background: #683180;
  background: -webkit-gradient(linear, left top, left bottom, from(#fa2bf0), to(#683180));
  background: linear-gradient(180deg, #fa2bf0 0%, #683180 100%);
  margin: auto;
  border-radius: 7px;
  border: 5px solid #3b1c49;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

@media (max-width: 481px) {
  .main_container {
    width: 98vw;
    height: 95vh;
    margin-top: 1vw;
  }
}

@media (min-width: 480px) {
  .main_container {
    width: 480px;
    height: 700px;
    margin-top: 2vw;
  }
}

.main_container .main-container__pattern {
  background-color: #6d695c;
  background: repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.2)), linear-gradient(120deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.2));
  background-size: 70px 120px;
}

@media (max-width: 481px) {
  .main_container .main-container__pattern {
    width: 98vw;
    height: 95vh;
  }
}

@media (min-width: 480px) {
  .main_container .main-container__pattern {
    width: 480px;
    height: 700px;
  }
}

header {
  display: none;
  padding-top: 20px;
  text-align: center;
  -webkit-text-stroke: 2px #3a3a3a;
  text-shadow: 3px 3px 3px black;
}

@media (max-width: 481px) {
  header {
    font-size: 7vw;
  }
}

@media (min-width: 480px) {
  header {
    font-size: 32px;
  }
}

header .header__fruits-txt {
  color: #febc63;
}

header .header__n-txt {
  display: inline-block;
  color: #8bd391;
  -webkit-animation: header-n-txt 2s linear infinite;
          animation: header-n-txt 2s linear infinite;
}

header .header__flowers-txt {
  color: #00ffff;
}

@-webkit-keyframes header-n-txt {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes header-n-txt {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

.logo {
  padding-top: 50%;
  background-clip: text;
  -webkit-text-stroke: 5px #3a3a3a;
  text-align: center;
  text-shadow: 7px 7px 7px black;
}

@media (max-width: 481px) {
  .logo {
    font-size: 17vw;
  }
}

@media (min-width: 480px) {
  .logo {
    font-size: 80px;
  }
}

.logo .logo__fruits-txt {
  -webkit-animation: logo-fruittxt-anim 0.5s linear;
          animation: logo-fruittxt-anim 0.5s linear;
  color: #febc63;
}

.logo .logo__n-txt {
  display: inline-block;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-animation: logo-ntxt-anim 3s linear;
          animation: logo-ntxt-anim 3s linear;
  color: #8bd391;
  opacity: 0;
}

.logo .logo__flowers-txt {
  -webkit-animation: logo-flowertxt-anim 1.5s linear;
          animation: logo-flowertxt-anim 1.5s linear;
  color: #00ffff;
}

@-webkit-keyframes logo-fruittxt-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo-fruittxt-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes logo-ntxt-anim {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
  60% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  70% {
    -webkit-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  75% {
    -webkit-transform: rotate(180deg) translateY(0px);
            transform: rotate(180deg) translateY(0px);
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg) translateY(-600px);
            transform: rotate(180deg) translateY(-600px);
    opacity: 0;
  }
}

@keyframes logo-ntxt-anim {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
  60% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  70% {
    -webkit-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  75% {
    -webkit-transform: rotate(180deg) translateY(0px);
            transform: rotate(180deg) translateY(0px);
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg) translateY(-600px);
            transform: rotate(180deg) translateY(-600px);
    opacity: 0;
  }
}

@-webkit-keyframes logo-flowertxt-anim {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo-flowertxt-anim {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.level-menu {
  display: none;
  margin: 15% 1%;
  width: 98%;
  height: 65%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-clip-path: polygon(5% 30%, 5% 5%, 10% 5%, 15% 0, 85% 0, 90% 5%, 95% 5%, 95% 30%, 100% 35%, 100% 65%, 95% 70%, 95% 95%, 90% 95%, 85% 100%, 15% 100%, 10% 95%, 5% 95%, 5% 70%, 0 65%, 0 35%);
          clip-path: polygon(5% 30%, 5% 5%, 10% 5%, 15% 0, 85% 0, 90% 5%, 95% 5%, 95% 30%, 100% 35%, 100% 65%, 95% 70%, 95% 95%, 90% 95%, 85% 100%, 15% 100%, 10% 95%, 5% 95%, 5% 70%, 0 65%, 0 35%);
}
/*# sourceMappingURL=fruits_n_flowers.css.map */